name: Auto-update
on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  autoupdate:
    uses: ivoronin/github-workflows/.github/workflows/autoupdate.yml@main
    with:
      language: go
    secrets: inherit
